/* Styling for mobile version */

.cart {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 375px;
    height: 100%;
    right: 0;
    background: white;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 15px 15px 0 15px;
        font-size: 20px;

        span {
            cursor: pointer;
            opacity: 0.2;
            transition: opacity 500ms ease;

        }

        span:hover {
            opacity: 0.5;
        }
    }

    ul {
        display: flex;
    }

    .cartItems {
        overflow: auto;
    }
}

// added cart items
.cartItem {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin: 15px;
    padding: 10px;
    font-size: 16px;
    justify-content: space-around;
    border: 1px solid rgba(216, 213, 213, 0.393);
    border-radius: 5px;

    img {
        width: 80px;
    }

    div {
        padding: 5px;
    }

    p {
        margin: 0;
    }

    span {
        padding: 5px;
        cursor: pointer;
        opacity: 0.2;
        transition: opacity 500ms ease;
    }

    span:hover {
        opacity: 0.5;
    }
}

// checkout cart Total Block
.cartTotalBlock {
    margin: 15px;

    ul {
        display: flex;
        flex-direction: column;
        padding: 0px;
        font-size: 18px;

        li {
            display: flex;
            margin: 5px;
        }

        div {
            flex: 1;
            border-bottom: 1px dashed gray;
            position: relative;
            top: -6px;
            margin: 0 7px;
        }
    }

    .greenButton {
        width: 100%;
        height: 55px;
        background: #17AE26;
        border-radius: 10px;
        border: 0;
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
    }
}

/* styiling for desktop version */
@media screen and (min-width: 600px) {
    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .cart {
        padding: 20px;

        h3 {
            margin: 0;
            font-size: 30px;
        }
    }
}