/* styiling for mobile version */
.categories {
    text-align: center;
    background: var(--footer-bg-color);
    padding: 10px 10px;

    h1 {
        font-size: 40px;
        color: whitesmoke;
    }
}

.grid-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

figure {
    position: relative;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    figcaption {
        position: absolute;
        top: 55%;
        bottom: 2%;
        left: 0%;
        background-image: linear-gradient(rgba(93, 92, 92, 0), rgb(1, 1, 1));
        color: whitesmoke;
        border-radius: 10px;

        a {
            text-decoration: none;
            transition: opacity 500ms ease;
        }

        a:hover {
            color: rgb(243, 206, 239);
            opacity: 0.8;
        }


        a:visited {
            text-decoration: none;
            color: whitesmoke;
        }

        h4 {
            margin: 0;
            font-size: 18px;
        }

        p {
            margin: 5px 0 0 0;
            font-size: 14px;
        }
    }
}

/* styiling for desktop version */
@media screen and (min-width: 600px) {
    .categories {
        padding: 20px 100px;
        text-align: center;

        h1 {
            font-size: 50px;
            color: whitesmoke;
        }
    }

    .grid-box {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        margin-top: 20px;
    }

    .grid-item1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid-item2 {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .grid-item3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .grid-item4 {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .grid-item5 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .grid-item6 {
        grid-column: 3/4;
        grid-row: 2/4;
    }

    figure {
        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }

        figcaption {
            top: 55%;
            bottom: 1%;
            left: 0%;
            right: 0%;

            h4 {
                font-size: 25px;
            }

            p {
                font-size: 18px;
            }
        }
    }
}