/* Styling for mobile version */
button:hover {
    background-color: #fbfbfb61;
    transition: 0.7s;
}

/* home page main text */
.flexWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;

}

/* text content */
.textBox {
    h2 {
        margin: 30px 0px;
        font-size: 40px;
        padding: 15px;
    }

    p {
        font-size: 16px;
        padding: 15px;
    }

    button {
        width: 50%;
        margin: 20px 0px;
        padding: 5px;
        background-color: transparent;
        border: 2px solid var(--white);
        border-radius: 5px;
        font-family: var(--logo-font);
        font-size: 24px;
        color: var(--white);
    }

}

/* mini-carousel */

.heroImage {
    padding: 10px 0px;

    img {
        width: 100%;
    }

    p {
        margin: 0;
        font-size: 18px;
        color: #786B9B;
    }
}

/* our products courusel */

.collection {
    margin: 10px;
    text-align: center;
    margin-bottom: 30px;

    h1 {
        text-shadow: 0px 2px 2px #a3a2a2;
        font-size: 35px;
    }
}

.productItems {
    padding: 0 6px;
}

.productItem {
    margin: 6px;
    padding: 10px;
    background: var(--gray-box);
    border-radius: 20px;

    img {
        width: 90%;
        margin-top: 10px;
        border-radius: 10px;
    }

    h3 {
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    p {
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    button {
        width: 60%;
        margin-bottom: 15px;
        padding: 10px;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 0px 3px 8px #a3a2a2;
        font-size: 12px;
    }
}

/* styiling for desktop version */
@media screen and (min-width: 600px) {

    .flexWrapper {
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 50px;
        padding: 0 70px;
    }

    /* text content */
    .textBox {
        padding: 0px 90px;
        margin: 0;
        h2 {
            margin: 0;
            padding: 0;
            font-size: 50px;
        }
        p {
            margin: 10px 0;
            padding: 0;
            font-size: 20px;
        }
        button {
            width: 240px;
            padding: 10px;
            font-size: 26px;
        }
    }

    .heroImage {
        padding: 0px 90px;
        img {
            width: 360px;
        }
        
    }


    /* our products courusel */

    .collection {
        margin: 180px 100px;
        h1 {
            font-size: 50px;
        }
    }

    .productItems {
        padding: 0 10px;
        height: 400px;
    }

    .productItem {
        margin: 10px;
        img {
            width: 80%;
            margin-top: 20px;
        }
        h3 {
            font-size: 18px;
        }
        p {
            font-size: 13px;
        }
        button {
            width: 180px;
        }
    }

    .react-multiple-carousel__arrow {
        margin-bottom: 10px;
    }

}